{% extends 'base.html' %}

{% block content %}

    <!-- EDIT PROFILE ACTIONS -->
    <section id="actions" class="py-4 mb-4 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <a href="{% url 'index' %}" class="btn btn-light btn-block">
                        <i class="fas fa-arrow-left"></i> Back To Home
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="{% url 'profile' %}" class="btn btn-warning btn-block">
                        <i class="fas fa-user-circle"></i> View Profile
                    </a>
                </div>
            </div>
        </div>
    </section>

    <!-- PROFILE DETAILS -->
    <section id="profile">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h4>Edit Profile Details</h4>
                        </div>
                        <div class="card-body">
                            <form action="{% url 'edit_profile' %}" method="POST" id="editProfileForm">
                                {% csrf_token %}                                
                                {% for field in form %}
                                    <div class="form-group">
                                        {{ field.label_tag }}
                                        {{ field }}
                                        {% for error in field.errors %}
                                            <p style="color: red">{{ error }}</p>
                                        {% endfor %}
                                    </div>
                                {% endfor %}
                                <small class="form-text text-muted" style="margin-bottom: 16px">Optional Field</small>
                                <div class="form-group">
                                    <button class="btn btn-success btn-block" type="submit">
                                        <i class="fas fa-check"></i> Save Changes
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Form submission js -->
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const button = document.getElementById('submitEditProfileForm')
            
            button.addEventListener('click', () => {
                const form = document.forms['editProfileForm']
                form.method = "POST"
                form.submit()
            })
        })
    </script>
    
{% endblock content %}