{% extends 'base.html' %}

{% block content %}

    <!-- SPACE.NO CONTENT -->
    <section id="actions" class="py-4 mb-4 bg-light">
        <div class="container">
            <div class="row">
            </div>
        </div>
    </section>
    
    <!-- ACCOUNT SIGN UP -->
    <section id="register">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <div class="card">
                        <div class="card-header">
                            <h4>Account Sign Up</h4>
                        </div>
                        <div class="card-body">
                            <form action="{% url 'register' %}" method="POST">
                                {% csrf_token %}
                                {% for field in form %}
                                    <div class="form-group">
                                        {{ field.label_tag }}
                                        {{ field }}
                                        {% for error in field.errors %}
                                            <p style="color: red">{{ error }}</p>
                                        {% endfor %}
                                    </div>
                                {% endfor %}
                                <input type="submit" value="Sign Up" class="btn btn-primary btn-block">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}