{% extends 'base.html' %}

{% block content %}

    <!-- HEADER -->
    <div id="main-header" class="py-2 bg-primary text-white">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1>
                        <i class="fas fa-ticket-alt"></i> Tickets
                    </h1>
                </div>
            </div>
        </div>
    </div>

    <!-- ACTIONS -->
    <section id="actions" class="py-4 mb-4 bg-light">
        <div class="container">
            <div class="row">
                {% if request.session.user_email %}
                    <div class="col-md-12">
                        <a href="#" class="btn btn-primary btn-block" data-toggle="modal" data-target="#addPostModal">
                        <i class="fas fa-plus"></i> Create Ticket
                        </a>
                    </div>
                {% else %}
                    <div class="col-md-12 ml-auto">
                        <div class="input-group">
                            <a href="#" class="btn btn-primary btn-block">
                                <i class="fas fa-plus"></i> Login to Create Ticket
                            </a>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </section>

    <!-- POSTS -->
    <section id="posts">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h4>Ticket List</h4>
                        </div>
                        <table class="table table-striped">
                            <thead class="thead-dark">
                                <tr>
                                    <th>#</th>
                                    <th>Title</th>
                                    <th>Category</th>
                                    <th>Date</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for ticket in tickets %}
                                    <tr>
                                        <td>{{ ticket.id }}</td>
                                        <td>{{ ticket.title }}</td>
                                        <td>{{ ticket.category }}</td>
                                        <td>{{ ticket.date }}</td>
                                        <td>
                                            <a href="{% url 'details' ticket.id %}" class="btn btn-secondary">
                                                <i class="fas fa-angle-double-right"></i> Ticket Details
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        
                        <!-- PAGINATION -->
                        <nav class="ml-4">
                            <ul class="pagination">
                                {% if page.has_previous %}
                                    <li class="page-item">
                                        <a href="?page={{ page.previous_page_number }}" class="page-link">
                                            Previous
                                        </a>
                                    </li>
                                {% else %}
                                    <li class="page-item disabled">
                                        <a href="#" class="page-link">Previous</a>
                                    </li>
                                {% endif %}

                                {% for p in page %}
                                    {% ifequal p page.number %}
                                        <li class="page-item active">
                                            <a href="#" class="page-link">
                                                {{ p }}<span class="sr-only">(current)</span>
                                            </a>
                                        </li>
                                    {% else %}
                                        <li class="page-item">
                                            <a href="?page={{ p }}" class="page-link">{{ p }}</a>
                                        </li>
                                    {% endifequal %}
                                {% endfor %}

                                {% if page.has_next %}
                                    <li class="page-item">
                                        <a href="?page={{ page.next_page_number }}" class="page-link">
                                            Next
                                        </a>
                                    </li>
                                {% else %}
                                    <li class="page-item disabled">
                                        <a href="#" class="page-link">Next</a>
                                    </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- MODALS -->
    <!-- ADD TICKET MODAL -->
    {% if request.session.user_email %}
        <div class="modal fade" id="addPostModal">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header bg-primary text-white">
                        <h5 class="modal-title">Create Ticket</h5>
                        <button class="close" data-dismiss="modal">
                        <span>&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="{% url 'create_ticket' %}" method="POST">
                            {% csrf_token %}
                            {% for field in form %}
                                <div class="form-group">
                                    {{ field.label_tag }}
                                    {{ field }}
                                    {% for error in field.errors %}
                                        <p style="color: red">{{ error }}</p>
                                    {% endfor %}
                                </div>
                            {% endfor %}
                            <div class="modal-footer">
                                <input type="submit" value="Create" class="btn btn-primary btn-block">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock content %}
