{% extends 'base.html' %}

{% block content %}   

    <!-- ACTIONS -->
    <section id="actions" class="py-4 mb-4 bg-light">
        <div class="container">
            <h4>Confirmation Controls</h4>
            <div class="row">
                <div class="col-md-3">
                    <a href="{% url 'index' %}" class="btn btn-light btn-block">
                        <i class="fas fa-arrow-left"></i> Back To Home
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="{% url 'details' ticket.id %}" class="btn btn-warning btn-block">
                        <i class="fas fa-eye"></i> View Ticket
                    </a>
                </div>
                <div class="col-md-3">
                    
                </div>
            </div>
        </div>
    </section>

    <!-- DETAILS -->
    <section id="details">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            <h4>Edit Ticket</h4>
                        </div>
                        <div class="card-body">
                            <form action="{% url 'edit_details' ticket.id %}" method="POST">
                                {% csrf_token %}
                                {% for field in form %}
                                    <div class="form-group">
                                        {{ field.label_tag }}
                                        {{ field }}
                                        {% for error in field.errors %}
                                            <p style="color: red">{{ error }}</p>
                                        {% endfor %}
                                    </div>
                                {% endfor %}
                                <button type="submit" class="btn btn-success btn-block">
                                    <i class="fas fa-check"></i> Save Changes
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}
