{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- DONATION ACTION -->
<section class="py-4 mb-4 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <div class="card">
                    <div class="card-header">
                        <h4>Make a $5 Donation</h4>
                    </div>
                    <div class="card-body text-center">
                        <form action="{% url 'charge' %}" method="POST" id="payment-form">
                            {% csrf_token %}
                            <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                data-key="{{ key }}" data-description="A donation to B.I Tracker" data-amount="500"
                                data-locale="auto">
                            </script>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}

{% block javascript %}
<script src="{% static 'js/main.js'  %}"></script>
{% endblock %}