{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- HEADER -->
<div id="main-header" class="py-2 bg-primary text-white">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>
                    <i class="fas fa-donate"></i> Make a Donation
                </h1>
            </div>
        </div>
    </div>
</div>

<!-- ACTIONS -->
<section class="py-4 mb-4 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <div class="card">
                    <div class="card-header">
                        <h4>Make a $5 Donation</h4>
                    </div>
                    <div class="card-body text-center">
                        <form action="{% url 'charge' %}" method="POST" id="payment-form">
                            {% csrf_token %}
                            <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                data-key="{{ key }}" data-description="A donation to B.I Tracker" data-amount="500"
                                data-locale="auto">
                            </script>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- <section id="actions" class="py-4 mb-4 bg-light">
        <div class="container">
                <h3>Payment Information</h3>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <input class="form-control" type="text" id="name" placeholder="Full name">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <input class="form-control" type="tel" id="number" placeholder="Phone number">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <input class="form-control" type="text" id="address-line-1" placeholder="Address line 1">
                        <small class="help-block">Street address, P.O. box, company name, c/o</small>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <input class="form-control" type="text" id="address-line-2" placeholder="Address line 2">
                        <small class="help-block">Apartment, suite , unit, building, floor, etc.</small>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <input class="form-control" type="text" id="city" placeholder="City">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <input class="form-control" type="text" id="country" placeholder="Country">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <input class="form-control" type="text" id="postal-code" placeholder="Postcode">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <input class="form-control" type="text" id="cc-name" placeholder="Name on card" required>
                        <small class="text-muted">Full name as displayed on card</small>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <input class="form-control" type="text" id="cc-number" placeholder="Credit card number" required>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <input class="form-control" type="text" id="cc-expiration" placeholder="Expiration" required>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <input class="form-control" type="text" id="cc-cvv" placeholder="CVV" required>
                    </div>
                </div>
            </div>
        </div>
    </section> -->

<!-- DONATE INSTRUCTIONS -->
<!-- <section id="donate-instructions" class="py-4 mb-4 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h5 class="text-center">Enter a custom donation amount or select a donation level below.</h5>
                </div>
            </div>
        </div>
    </section> -->

<!-- DONATION SELECT -->
<!-- <section id="donation-select">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card text-center bg-primary text-white mb-3">
                            <div class="btn">
                                <h4 class="display-4">
                                    $30
                                </h4>
                            </div>
                        </div>
                        <div class="card text-center bg-success text-white mb-3">
                            <div class="btn">
                                <h4 class="display-4">
                                    $50
                                </h4>
                            </div>
                        </div>
                        <div class="card text-center bg-warning text-white mb-3">
                            <div class="btn">
                                <h4 class="display-4">
                                    $100
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card text-center bg-warning text-white mb-3">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">$</span>
                                </div>
                                <input class="form-control" placeholder="Enter Other Amount" type="text">
                                <div class="input-group-append">
                                    <span class="input-group-text">.00</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card text-center bg-warning text-white mb-3">
                            <button class="btn btn-primary btn-block" type="submit">Submit</button>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="message">Add a Personal Message</label>
                            <textarea class="form-control" id="message" rows="3"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->

{% endblock content %}

{% block javascript %}
<script src="{% static 'js/main.js'  %}"></script>
{% endblock %}